@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.displayflex {
  display: flex;
}

.section-intro__button {
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
  color: white;
  margin: 25px 0 45px 0;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.7);
}
.section-intro__button:hover {
  transition: ease 0.5s;
  filter: brightness(120%);
  box-shadow: 1px 1px 7px 0px rgba(12, 12, 12, 0.877);
}

.icon {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
  display: flex;
}
.icon:active {
  fill: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
.icon svg {
  overflow: visible;
  width: 20px;
}
.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover path {
  animation: stroke-animation 1s ease-in-out forwards;
}
.icon .heart-main:hover ~ .heart-background path {
  animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: ease url(#grad1);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#grad1);
    stroke: transparent;
  }
}
.retour {
  position: absolute;
  left: 25px;
}
.retour i {
  font-size: 25px;
}

.btncommander {
  margin-top: 25px;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
  color: white;
  margin: 25px 0 45px 0;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.7);
  padding-left: 40px;
  padding-right: 40px;
}
.btncommander:hover {
  transition: ease 0.5s;
  filter: brightness(120%);
  box-shadow: 1px 1px 7px 0px rgba(12, 12, 12, 0.877);
}

.headerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.headerlogo img {
  width: 45%;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  padding-left: 5%;
  padding-bottom: 25px;
}
footer #shrikhand {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 20px 0;
}
footer ul li {
  margin-bottom: 10px;
}

.fa-utensils, .fa-handshake-angle {
  margin-right: 5px;
}

.fa-handshake-angle {
  font-size: 12px;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0px -0.5px 3px rgba(121, 121, 121, 0.712);
  padding: 10px 0 10px 0;
  font-weight: 700;
}

.localisation p {
  margin-left: 15px;
}

.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  background-color: #fafafa;
}
.section-intro__titre {
  margin: 0 18%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  text-align: center;
}
.section-intro__p {
  margin: 15px 8% 0;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.fonctionnement {
  padding-top: 40px;
  margin: 0 5% 70px;
}
.fonctionnement__title {
  margin-bottom: 20px;
}

.fonctionnement__list li {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  padding: 25px 0;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.7);
  margin-left: 10px;
}
.fonctionnement__list li:hover {
  transition: ease 0.5s;
  filter: brightness(120%);
  box-shadow: 1px 1px 7px 0px rgba(12, 12, 12, 0.877);
}

.fonctionnement__list i {
  margin: 0 35px;
  color: #7E7E7E;
}

.fonctionnement__list__num {
  color: white;
  background-color: #9356DC;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  position: absolute;
  transform: translateX(-50%);
}

.resto {
  background-color: #f6f6f6;
  padding: 0 5%;
}
.resto__titre {
  padding-top: 50px;
  margin-bottom: 25px;
}
.resto__nav {
  display: flex;
  flex-direction: column;
}

.restobox {
  width: 100%;
  height: 260px;
  background: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  position: relative;
}
.restobox__img {
  max-height: 190px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
}
.restobox__img img {
  padding-bottom: 60px;
}
.restobox__img--new {
  display: flex;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
  padding: 8px 10px;
  border-radius: 5px;
}
.restobox__img--new p {
  font-weight: 500;
  color: #1b6150;
}
.restobox__txtheart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 5px 15px;
}

.restobox__img img {
  width: 100%;
  object-fit: cover;
}

.backgroundmain {
  display: flex;
  height: 270px;
  width: 100%;
}

.backgroundmain img {
  width: 100%;
  object-fit: cover;
}

.img-menu {
  background-color: #f6f6f6;
}

.menu {
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}
.menu .title-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  width: 100%;
  margin-bottom: 30px;
}
.menu .title-heart h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.menu .menu-all {
  width: 100%;
}
.menu h3 {
  font-weight: 400;
  padding-bottom: 3px;
  font-size: 14px;
  margin-top: 20px;
}
.menu h3:after {
  display: flex;
  content: "";
  width: 35px;
  border-bottom: 3.5px solid #99e2d0;
}
.menu .boxmenu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 5% 0;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.7);
}
.menu .boxmenu__txt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0 0 15px;
  justify-content: center;
  gap: 5px;
  width: 60%;
  overflow: hidden;
}
.menu .boxmenu__txt h4 {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .boxmenu__txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
}
.menu .boxmenu__prix {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 50px;
  margin-right: 10px;
  height: 100%;
  padding-bottom: 10px;
  justify-content: center;
}
.menu .boxmenu__check {
  display: none;
}
.menu .boxmenu__check .fa-circle-check {
  font-size: 18px;
}
.menu .boxmenu:hover .boxmenu__prix {
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu .boxmenu:hover .boxmenu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #99e2d0;
  height: 100%;
  border-radius: 0 10px 10px 0;
  width: 45px;
  color: white;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}

/*# sourceMappingURL=style.css.map */
