@charset "UTF-8";
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slide-left2 {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes check-rotate {
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.displayflex {
  display: flex;
}

.section-intro__button {
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
  color: white;
  margin: 25px 0 45px 0;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.53);
}
.section-intro__button:hover {
  transition: ease 0.5s;
  filter: brightness(120%);
  box-shadow: 0px 14px 13px 0px rgba(0, 0, 0, 0.85);
}

.icon {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
  display: flex;
}
.icon svg {
  overflow: visible;
  width: 20px;
}
.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover path {
  animation: stroke-animation 1s ease-in-out forwards;
}
.icon .heart-main:hover ~ .heart-background path {
  animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#grad1);
    transform: scale(1.1);
  }
  90% {
    transform: scale(2);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#grad1);
    stroke: transparent;
    transform: scale(1);
  }
}
.retour {
  position: absolute;
  left: 25px;
}
.retour i {
  font-size: 25px;
}

.btncommander {
  margin-top: 25px;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
  color: white;
  margin: 25px 0 45px 0;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.53);
  padding-left: 40px;
  padding-right: 40px;
}
.btncommander:hover {
  transition: ease 0.5s;
  filter: brightness(120%);
  box-shadow: 0px 14px 13px 0px rgba(0, 0, 0, 0.85);
}

.colorful {
  width: 44px;
  height: 44px;
  background: #9356dc;
  animation: colorful-hrvq02hg 1.8s infinite;
  animation-duration: 2s;
  position: absolute;
  top: 75%;
  right: 50%;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.05s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 50px;
  height: 50px;
  background: #9356DC;
  animation: colorful-loader 0.4s infinite alternate;
  border-radius: 50%;
  margin: 0 20px;
}

.dot2 {
  background-color: #FF79DA;
  animation-delay: 0.05s;
}

.dot3 {
  animation-delay: 0.1s;
  background-color: #99e2d0;
}

@keyframes colorful-loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes animenu {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px);
  }
}
.headerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.headerlogo img {
  width: 227px;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  padding-left: 5%;
  padding-bottom: 25px;
}
footer #shrikhand {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 20px 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer a {
  color: white;
}

.fa-utensils, .fa-handshake-angle {
  margin-right: 5px;
}

.fa-handshake-angle {
  font-size: 12px;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0px -0.5px 3px rgba(121, 121, 121, 0.712);
  padding: 10px 0 10px 0;
  font-weight: 700;
}

.localisation p {
  margin-left: 15px;
}

.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  background-color: #fafafa;
}
.section-intro__titre {
  margin: 0 18%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  text-align: center;
}
.section-intro__p {
  margin: 15px 8% 0;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.fonctionnement {
  padding-top: 40px;
  margin: 0 2% 70px;
}
.fonctionnement__title {
  margin-bottom: 20px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonctionnement__list li {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  padding: 25px 0;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.53);
  width: 95%;
}
.fonctionnement__list li:hover {
  background-color: #F5EDFF;
}

.fonctionnement__list i {
  margin: 0 35px;
  color: #7E7E7E;
}

.fonctionnement__list__num {
  color: white;
  background-color: #9356DC;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  position: absolute;
  transform: translateX(-50%);
}

.resto {
  background-color: #f6f6f6;
  padding: 0 2%;
}
.resto__titre {
  padding-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1000px) {
  .resto__titre {
    max-width: 950px;
  }
}
.resto__nav {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .resto__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restobox {
  width: 100%;
  height: 260px;
  background: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .restobox {
    max-width: 910px;
  }
}
.restobox__img {
  max-height: 190px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
}
.restobox__img img {
  padding-bottom: 60px;
}
.restobox__img--new {
  display: flex;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
  padding: 8px 10px;
  border-radius: 5px;
}
.restobox__img--new p {
  font-weight: 500;
  color: #1b6150;
}
.restobox__txtheart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 5px 15px;
}

.restobox__img img {
  width: 100%;
  object-fit: cover;
}

.backgroundmain {
  display: flex;
  height: 270px;
  width: 100%;
}

.backgroundmain img {
  width: 100%;
  object-fit: cover;
}

.img-menu {
  background-color: #f6f6f6;
}

.menu {
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
}
.menu .menu-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .menu .menu-box {
    display: flex;
    flex-direction: row;
  }
}
.menu .menu-box .entrées {
  animation: animenu 1s;
  animation-fill-mode: both;
}
.menu .menu-box .plats {
  animation: animenu 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
.menu .menu-box .desserts {
  animation: animenu 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.menu .title-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  width: 100%;
  margin-bottom: 30px;
}
.menu .title-heart h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.menu-all {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menu-all .listemenu {
  width: 100%;
  align-items: center;
}
.menu-all h3 {
  font-weight: 400;
  padding-bottom: 3px;
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}
.menu-all h3:after {
  display: flex;
  content: "";
  width: 35px;
  border-bottom: 3.5px solid #99e2d0;
}

.boxmenu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 5% 0;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.53);
  width: 100%;
}
.boxmenu__txt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0 0 15px;
  justify-content: center;
  gap: 5px;
  width: 60%;
  overflow: hidden;
}
.boxmenu__txt h4 {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.boxmenu__txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
}
.boxmenu__prix {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 50px;
  margin-right: 10px;
  height: 100%;
  padding-bottom: 10px;
  justify-content: center;
}
.boxmenu__check {
  display: none;
}
.boxmenu__check .fa-circle-check {
  font-size: 18px;
}
.boxmenu:hover .boxmenu__prix {
  animation: slide-left2 0.5s ease;
  transform-origin: right;
}
.boxmenu:hover .boxmenu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #99e2d0;
  height: 100%;
  border-radius: 0 10px 10px 0;
  width: 45px;
  color: white;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.boxmenu:hover .boxmenu__check .fa-circle-check {
  animation: check-rotate 0.5s ease;
}

@media screen and (min-width: 1000px) {
  .backgroundmain {
    display: flex;
    height: 370px;
    width: 100%;
  }
  .menu-box {
    display: flex;
    justify-content: space-around;
  }
  .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-right: 0;
  }
  .fonctionnement__list li {
    width: 30%;
  }
  .boxmenu {
    width: 95%;
  }
  .btncommander {
    margin: 50px 0 150px 0;
  }
}

/*# sourceMappingURL=style.css.map */
