.section-intro__button {
    @include btnradiant;
}

.icon {
    fill: transparent;
    stroke: black;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
    display: flex;
    

      


    svg {
      overflow: visible;
      width: 20px;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }

    .heart-background {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
      }

    .heart-main:hover path {
        animation: stroke-animation 1s ease-in-out forwards;
      }
    
      .heart-main:hover ~ .heart-background path {
        animation: fade-animation 2s ease-in-out forwards;
      } 
}

@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: url(#grad1);
      transform: scale(1.1);
    
    }
    90% {
      transform: scale(2);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#grad1);
      stroke: transparent;
      transform: scale(1);
    }
  }

  .retour {
    position: absolute;
    left: 25px;

      i {
        font-size: 25px;
      }
    
  }


  .btncommander {
    margin-top: 25px;
    @include btnradiant;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  

  .colorful {
    width: 44px;
    height: 44px;
    background: #9356dc;
    animation: colorful-hrvq02hg 1.7999999999999998s infinite;
    animation-duration: 2s;
    position: absolute;
    top: 75%;
    right: 50%;
    
    
    
 }

 .loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.05s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;

  
}

.dot {
  
  width: 50px;
  height: 50px;
  background: $primary-color;
  animation: colorful-loader 0.4s infinite alternate;
  border-radius: 50%;
  margin: 0 20px;
}

.dot2{
  background-color: $secondary-color;
  animation-delay: .05s;
}


.dot3 {
  
  animation-delay: .1s;
  background-color: $tertiary-color;

   

  
}

@keyframes colorful-loader {

  100% {
    transform: translateY(-30px);
  }
  
}
 


@keyframes animenu {
  0%{
    transform: translateY(150px);
    opacity: 0;
  }

  20%{
    opacity: 0.2;
  }

  40%{
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }
  
  
  100%{
    transform: translateY(0px);
  }

}