.section-intro__button {
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border-radius: 25px;
    border: none;
    padding: 15px 20px;
    color: white;
    margin: 25px 0 45px 0;
    @include  box-shadow;
        &:hover {
            @include hover-bright;
        }
}

.icon {
    fill: transparent;
    stroke: black;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
    display: flex;
    

        &:active {
            fill: $gradient;
        }


    svg {
      overflow: visible;
      width: 20px;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }

    .heart-background {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
      }

    .heart-main:hover path {
        animation: stroke-animation 1s ease-in-out forwards;
      }
    
      .heart-main:hover ~ .heart-background path {
        animation: fade-animation 2s ease-in-out forwards;
      } 
}

@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: ease url(#grad1);
      transform: scale(1.1);
    
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#grad1);
      stroke: transparent;
    }
  }
  
@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: url(#grad1);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }


  
    
