@mixin box-shadow {
    box-shadow: 0em .3em 0.7em rgba(73, 73, 73, 0.425);
}

@mixin hover-bright {
    transition: ease .5s;
    filter: brightness(120%);
    box-shadow: 0em .4em 0.3em rgba(32, 32, 32, 0.425);
}
@mixin heartfull {

    background: purple;
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(-45deg) scale(1);
    :after {
        background: inherit;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        height: 100px;
        width: 100px;
    }
    :before {
        background: inherit;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 0;
        right: -50%;
        height: 100px;
        width: 100px;
    }
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

